img.logo {
  width: 200px;
  height: 70px;
  float: left;
}

/* Navigation Bar */

.nav-header {
  background-color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-header ul {
  list-style-type: none;
  overflow: hidden;
}
.nav-header li {
  float: left;
}
.nav-header a {
  display: block;
  color: #252f7b;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 15px;
}
@media screen and (max-width: 600px) {
  .nav-header a {
    float: center;
    display: block;
    text-align: center;
    width: 100%;
  }
}

.nav-header li a:hover {
  background-color: #f95031;
  color: #252f7b;
}
.nav-header .nav-right{
  float: right;
}
@media screen and (max-width: 600px) {
  .nav-header .nav-right{
    float: center;
  }
}
 
  /*Main Content*/
  body{
    background-color: #eff0f5;
    color: #424242;
    font: 1em/150% Helvetica, Arial, sans-serif;
    padding: 0px;
}

h1.initial {
  margin-top: 20px;
}
.myimg{
    width:200px;
    height:200px;
    object-fit:cover;
    padding: 5px;
    float: center;
  }
  
* {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
  .column{
    padding: 20px;
    background-color: #ffffff;

  }
  /*Footer*/

  .nav-footer {
    color: #424242;
    padding: 80px;
    background-color:#ffffff;
    list-style-type: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  }
  .nav-footer ul {
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    padding-left:400px ;
  }

  .nav-footer li {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
  }
.right{
  float: right;
  padding-right: 20px;
}
